<div data-controller="modal">
  <button type="button" data-action="modal#open" class="rounded-lg py-3 px-5 bg-white inline-block font-medium text-gray-600 hover:bg-gray-200 ">
   <%= t('.title') %>
  </button>

<%= render 'shared/popup_dialog_window' %>
</div>
