<table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2 text-center"><%= t('.name') %> </th>
        <th class="px-4 py-2 text-center"><%= t('.email') %></th>
        <th class="px-4 py-2 text-center"><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <%= render 'devise/user', user: user %>
        </tr>
      <% end %>
    </tbody>
  </table>
