<td class="border px-4 py-2 text-center"><%= user.nickname %></td>
<td class="border px-4 py-2 text-center"><%= user.email %></td>
<td class="border px-4 py-2 text-center">
  <a href="<%= user_path(id: user) %>" class="text-blue-500 hover:text-blue-700"><%= t('.view') %></a>
</td>
